
body {
    background-color: #5289BE ;
    background-image: url(2560x1440-blue-abstract-noise-free-website-background-image.jpg);
}

.bio {
    display: block;
    position: relative;
    top: 300px;
    background-color: #519491;
    max-width: 600px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 125px 30px 15px 30px;
    text-align: center;
    color: #EEE8E4;

}

.profile-pic img{
    display: block;
    position: absolute;
    top: -125px;
    left: 202px;
    z-index: 2;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 3px solid #9DAAC5;
}
.portfolio {
    background-color: #eee8e4;
    display: block;
    position: relative;
    top: 330px;
    max-width: 600px;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    margin: auto;
    color: #5289BE;
}